body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    position: relative;
}

.container {
    max-width: 600px;
    margin: auto;
    position: relative;
    z-index: 1;
}

.git, .script-box button {
    background-color: #222;
    color: white;
    border: none;
    padding: 12px 25px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 20px;
    font-size: 16px;
    transition: 0.3s;
}

.buy-button:hover, .script-box button:hover {
    background-color: #333;
}

.script-box {
    background: #111;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

input {
    background: transparent;
    border: none;
    color: white;
    width: 100%;
}

.script-box button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.discord {
    display: block;
    margin-top: 20px;
    color: #7289da;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.discord:hover {
    color: #a2b9ee;
}